.view-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
  align-self: flex-start;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.product-details {
  margin-top: 20px;
  text-align: center;
}

.product-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-price, .product-description, .product-category, .auction-timer {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.auction-timer {
  font-weight: bold;
  color: red;
  border: 2px solid red;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
