/* ViewProduct.css */

.view-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
  align-self: flex-start;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.product-details {
  margin-top: 20px;
  text-align: center;
}

.product-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.favorite-icon {
  color: gray; 
  margin-left: 10px; 
  cursor: pointer; 
  transition: color 0.3s; 
}

.favorite-icon:hover {
  color: red; 
}

.product-price, .product-description, .product-category, .auction-timer {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.auction-timer {
  font-weight: bold;
  color: red;
  border: 2px solid red;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.bid-section {
  margin-top: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  width: 100%;
  max-width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Modal Styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.modal-button:hover {
  background-color: #10962d;
}
.modal-button.cancel {
  background-color: #dc3545; /* Cancel button specific color */
}

.modal-button.cancel:hover {
  background-color: #c82333;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
}
